<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List some popular languages that Data Scientists use
* List some common libraries used by Data scientists
* List some tools used by Data Scientists in a table
* Perform some arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. TensorFlow
3. NumPy

Data Science Tools |
------------------
Jupyter |
RStudio |
Hadoop |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>

Thomas Isenberg